<!--<div *ngIf="!isHandset" class="flex">-->
<!--  <div [@extended]="showAnimation" class="extended" ></div>-->
<!--  <div  [@narrowing]="showAnimation" class="narrowing" ></div>-->
<!--</div>-->

<div class="content-container">
  <h5 class="blue-text">What is my question or topic?</h5>
  <br>
  <p class="text-center">First, select the <img style="width: 25px;" src="assets/images/ic_circled_plus@3x.png"/> symbol from the Home screen.</p>
  <p>Then select your Pulse topic category.</p>
  <img  class="content-image" src="assets/images/Pulse_create_1.jpeg" />
  <img class="content-image" src="assets/images/Pulse_create_2.jpeg" />
  <h5 class="blue-text" style="padding-top: 40px;">Who/What are my choices?</h5>
  <div style="position: relative;">
    <img class="content-image" src="assets/images/Pulse_create_3.jpeg">
    <div class="redCircle" style="position: absolute;top: 202px;font-size: 12px;width: 190px;right: 44px;line-height: 20px;height: 115px;padding: 8px;"> The best topics are those that engage your audience with clear distinct choices. Avoid questions that will likely create 'yes' or 'no' type responses.</div>
  </div>
  <img class="content-image" src="assets/images/Pulse_create_4.jpeg">
  <h5 class="blue-text" style="padding-top: 40px;">Why would I select a choice?</h5>
  <div style="position: relative;">
    <img class="content-image" src="assets/images/Pulse_create_5.jpeg">
    <div class="redCircle" style="position: absolute; width: 266px; height: 177px;  top: 300px;  padding: 9px;  font-size: 12px;  line-height: 20px; left: -5px;">For the best results, your qualities should be either all positive traits or all negative traits. For example, if you are ranking attributes against political candidates, it would be clearer to have attributes such as [Trust, Competency, Integrity] as opposed to a mix of attributes such as [Trustworthy, Immoral, Competency, Sexist].</div>
  </div>
  <h5 class="blue-text" style="padding-top: 40px;">How Important is each thing to me?</h5>
  <img class="content-image" src="assets/images/Pulse_create_6.jpeg">
  <h5 class="blue-text text-center" style="padding-top: 40px;">You are now ready to do a final review of Pulse and Publish</h5>
  <img class="content-image" src="assets/images/Pulse_create_7.jpeg">
</div>
