<ngb-carousel *ngIf="!isHandset" #carousel interval="false" >
  <ng-template ngbSlide>
    <div>
      <img style="margin-top: 54px;height: 240px; margin-left: 90px;" class="content-up-effect" src="../../../../assets/images/WhatIsMyQuestionOrTopic.PNG" >
      <img  style="margin-top: 100px; margin-left: 43px; width: 956px;" src="../../../../assets/images/CrearingPulse-1.PNG" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img class="content-up-effect"  style="position: absolute; top: 40px;left: 90px;width: 400px;" src="../../../../assets/images/WhoWhatAreMyChoice.PNG" >
      <img  style="width: 1100px;margin-top: 80px; margin-left: 58px;"  src="../../../../assets/images/CreatingPulse-2.png" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img class="content-up-effect" style="position: absolute; top: 60px;left: 100px;"  src="../../../../assets/images/WhyiWouldSelectChoce.png" >
      <img class="content-up-effect" style="position: absolute; top: 60px;left: 760px;"  src="../../../../assets/images/HowImportantIsEachThingToMe.png" >
      <img  style="width: 1100px; margin-top: 106px; margin-left: 113px;"  src="../../../../assets/images/CreatingPulse-3.png" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div >
    <img  class="content-up-effect" style="position: absolute; top: 60px;left: 100px;"  src="../../../../assets/images/YouAreNowReadyToDOFinalReviewOfPulseAndPublish.png" >
      <div  style="width: 1100px; margin-top: 106px; margin-left: 113px;" ></div>
    </div>
  </ng-template>
</ngb-carousel>

<img class="image-carousel-next"
     (click)="carouselNext()"
     [ngClass]="{mobileStyle:isHandset}"
     src="./../../../assets/images/arrow-right.PNG" >


<div *ngIf="!isHandset" class="flex">
  <div [@extended]="showAnimation" class="extended" ></div>
  <div  [@narrowing]="showAnimation" class="narrowing" ></div>
</div>



<ngb-carousel *ngIf="isHandset" #carousel interval="false" >
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px">
      <img style="width: 349px"  src="../../../../assets/images/WhatIsMyQuestionOrTopic.PNG" />
      <img  style="width: 80%; margin-top: 97px; margin-left: -50px;" src="../../../../assets/images/Pulse_create_1.jpeg" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <img style="width: 80%;" src="./../../../assets/images/Pulse_create_2.jpeg" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <img style="width: 349px"  src="../../../../assets/images/WhoWhatAreMyChoice.PNG" />
      <img style="width: 80%;" src="./../../../assets/images/Pulse_create_3.jpeg" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <img style="width: 80%;" src="./../../../assets/images/Pulse_create_4.jpeg" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <img style="width: 349px"  src="../../../../assets/images/WhyiWouldSelectChoce.png" />
      <img style="width: 80%;" src="./../../../assets/images/Pulse_create_5.jpeg" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <img style="width: 349px"  src="../../../../assets/images/HowImportantIsEachThingToMe.png" />
      <img style="width: 80%;" src="./../../../assets/images/Pulse_create_6.jpeg" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <img style="width: 349px"  src="../../../../assets/images/YouAreNowReadyToDOFinalReviewOfPulseAndPublish.png" />
      <img style="width: 80%;" src="./../../../assets/images/Pulse_create_7.jpeg" >
    </div>
  </ng-template>
</ngb-carousel>
