:host {
  background-color: #FFFFFF;
}

.mobileStyleTruePulseLogo{
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: 102px !important;
}

.mobileStyleTruePulseLogoInfo{
  margin-right: 10px !important;
  margin-left: 0 !important;
  margin-top: 21px !important;
}

.mobileStyleBottomContent{
  flex-direction:column !important;
  align-items: center !important;
}



.mobileStyleImage{
  width: 80% !important;
}
