<div style="display: flex; flex-direction: row; justify-content: space-between;" >
  <img  [ngClass]="{mobileStyleTruePulseLogo:isHandset}" style="width: 241px;margin-left: 70px; margin-top: 21px;" src="../../../assets/images/truePulseLogo.PNG">
  <img  [ngClass]="{mobileStyleTruePulseLogoInfo:isHandset}" style="width: 173px;height: 33px; margin-right: 249px; margin-top: 110px;" src="../../../assets/images/info@truepulse.net.PNG">
</div>

<img style="width: 100%" src="../../../assets/images/StartPageImage.png">
<div [ngClass]="{mobileStyleCenterText:isHandset}" style=" font-family: 'Roboto', sans-serif; display: flex;justify-content: center; color: #0096FF; font-weight: 500;font-size: 22px">
  Is your opinion informed, a guess or your gut?
  You will be either lucky or wrong

</div>

<div [ngClass]="{mobileStyleBottomContent:isHandset}" style="display: flex;justify-content: center;">
  <img  [ngClass]="{mobileStyleImage:isHandset}" style="width: 23%" src="../../../assets/images/StartPageCreatePulse.png">
  <img  [ngClass]="{mobileStyleImage:isHandset}" style="width: 23%" src="../../../assets/images/StartPagePespondWithBeat.png">
  <img  [ngClass]="{mobileStyleImage:isHandset}" style="width: 23%" src="../../../assets/images/StartPageLookAtInsight.png">
</div>

<a routerLink="/menu/languageOfPulse" >Menu</a>
