.menu-content-wrapper {
  font-family: 'Roboto';
  margin: 20px;
}

.menu-content-margin--mobile {
  margin-left: 40px;
  margin-right: 40px;
}

.menu-content-margin--desktop {
  margin-left: 100px;
}

h5 {
  color: #0070c0;
}
