<div class="menu-content-wrapper" [ngClass]="{'menu-content-margin-left':!isHandset}">
  <h6>Home Screen</h6>
  <p>
    Upon logging into the Pulse mobile app, the Home screen is your landing page. The Home screen is your Pulse topic <br/> feed. The feed is based on your topic preferences, your previous Pulse participation and sponsored Pulse topics.
  </p>
  <img class="imageShadow"  style="height: 672px; margin-left: 0px !important;" src="../../../../assets/images/finding_way_around-Pulse_1.jpeg" />

</div>

