<div style="margin: 40px;">
  <h1>Privacy Settings</h1>
  <h1>User Name</h1>
  <p>
    Pulse allows you to have complete flexibility on your user_name. However the user_name must adhere to Pulse's policies around moral integrity, which includes user_name choices and inferred obscenities.
  </p>
  <h1>Email Address</h1>
  <p>
    An email address is required for both security purposes and account support. Please ensure your email account is also secure. Anyone that can access youe email account could also access your Pulse account.
  </p>
  <h1>Password</h1>
  <p>
    Use a strong password. Industry best practices recommend a combination of letters, numbers, and special characters like "!", "&".
  </p>
  <h1>
    User Profile
  </h1>
  <p>
    Your user profile is anonymous and non identifiable. A complete profile setting helps you present your true voice on the issues, topics, products and services that are important to you. Your data remains anonymous, but helps True Pulse provide a richer and stronger voice on your behalf.
  </p>
  <h1>Comments Visible Controls</h1>
  <p>
    Your comments posted in a 'standard' Pulse or Live Pulse will be visible to all users. The default setting will be set to “on”. Your comments posted in a 'standard' Pulse or Live Pulse will be visible to the Pulse Publisher only. The default setting will be “off”.
  </p>
  <h1>Blocked Users</h1>
  <p>
    The optionality to block comments from particular users, both in responses to Pulses they create, and Pulses they participate in.
  </p>
  <p>
    You add ‘blocked users’ by user_name.
  </p>
</div>
