<div class="content-container">
  <p class="text-center"><b>If you wish to create a Live Pulse, please email <a style="text-decoration: underline;" href="mailto:info@truepulse.net">support@truepulse.net</a></b></p>
  <img  class="content-image" src="assets/images/Live_Pulse_1.jpeg" />
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <h5 class="blue-text" style="padding-top: 10px;">Select a Live Event</h5>
  <img class="content-image" src="assets/images/Live_Pulse_2.jpeg" />
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <p class="text-center" style="padding-top: 10px;">At the scheduled time and as the event is about to start, come back to the Live Pulse listing page and select the specific Live Pulse. This will take you to the Live Pulse participation page.</p>
  <img class="content-image" src="assets/images/Live_Pulse_3.jpg">
</div>
