<div class="content-container">
  <p class="text-center"><b>If you wish to create a Live Pulse, please email <a style="text-decoration: underline;" href="mailto:info@truepulse.net">support@truepulse.net</a></b></p>
  <img  class="content-image" src="assets/images/Live_Pulse_1.jpeg" />
  <h5 class="blue-text" style="padding-top: 40px;">Select a Live Event</h5>
  <img class="content-image" src="assets/images/Live_Pulse_2.jpeg" />
  <p class="text-center" style="padding-top: 40px;">At the scheduled time and as the event is about to start, come back to the Live Pulse listing page and select the specific Live Pulse. This will take you to the Live Pulse participation page.</p>
  <img class="content-image" src="assets/images/Live_Pulse_3.jpg">
</div>

<!--<ng-template ngbSlide>-->
<!--  <div  style="display: flex;">-->
<!--    <div >-->
<!--      <img style="margin-left:150px;" class="imageShadow slide-image&#45;&#45;large" src="assets/images/Live_Pulse_3.jpg" />-->
<!--    </div>-->
<!--    <div style="width: 868px;margin-top: 90px;">-->
<!--      <div style="width: 505px;font-size: 12px;" >At the scheduled time and as the event is about to start, come back to the Live Pulse listing page and select the specific Live Pulse. This will take you to the Live Pulse participation page.</div>-->
<!--      <div>-->
<!--        <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 71px;font-size: 15px!important;">Select a participant. </div>-->
<!--        <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 35px;width: 450px;font-size: 15px!important;">Tap an emoji to express an emotion during the live event.-->
<!--          Repeat as often as you like for each participant.-->
<!--        </div>-->
<!--        <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 43px;font-size: 15px!important;">Watch what the world thinks in real-time. </div>-->
<!--        <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 47px;font-size: 15px!important;">Add comments as often as you like. </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
