
<div style="display: flex;justify-content: center">
  <ngb-carousel class="subMenuContext" *ngIf="!isHandset" #carousel interval="false" >
    <ng-template ngbSlide>
      <div class="content-up-effect" style="font-size: 13px;"><b>If you wish to create a Live Pulse, please email <a style="text-decoration: underline;" href="mailto:info@truepulse.net">support@truepulse.net </a></b></div>
      <div>
        <div class="headerSubMenu content-up-effect" style="margin-left: 498px;margin-top: 15px;" >Select a Live Event</div>
      </div>
      <div class="bottomSubMenu" >
        <div >
          <img class="imageShadow slide-image--large"  style="margin-top: 40px;" src="../../../../assets/images/Live_Pulse_1.jpeg" />
        </div>
        <div>
          <img class="arrowRightSubMenu arrowRightBold" style="margin-top: 200px;margin-left: 80px;margin-right:80px;" src="../../../../assets/images/arrow-right-sub-menu.PNG" />
        </div>
        <div>
          <img class="imageShadow slide-image--large"  style="margin-top: 40px;" src="../../../../assets/images/Live_Pulse_2.jpeg" />
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div  style="display: flex; margin-left: 120px;">
        <div >
          <img style="margin-left:150px;" class="imageShadow slide-image--large" src="../../../../assets/images/Live_Pulse_3.jpg" />
        </div>
        <div style="width: 868px;margin-top: 90px;">
          <div style="margin-left: 26px;width: 505px;font-size: 12px;" >At the scheduled time and as the event is about to start, come back to the Live Pulse listing page and select the specific Live Pulse. This will take you to the Live Pulse participation page.</div>
          <div>
            <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 71px;font-size: 15px!important;">Select a participant. </div>
            <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 35px;width: 450px;font-size: 15px!important;">Tap an emoji to express an emotion during the live event.
              Repeat as often as you like for each participant.
            </div>
            <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 43px;font-size: 15px!important;">Watch what the world thinks in real-time. </div>
            <div class="headerSubMenu enjoyingStyleButtonText" style="margin-top: 47px;font-size: 15px!important;">Add comments as often as you like. </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<img *ngIf="showNextScreen" class="image-carousel-next"
     (click)="carouselNext()"
     [ngClass]="{mobileStyle:isHandset}"
     src="./../../../assets/images/arrow-right.PNG" >

<img *ngIf="showPreviousScreen" class="image-carousel-previous"
     (click)="carouselPrevious()"
     [ngClass]="{mobileStyle:isHandset, mobileStylePreviousArray:isHandset}"
     src="./../../../assets/images/arrow-left.png " >


<div *ngIf="!isHandset" class="flex">
  <div [@extended]="showAnimation" class="extended" ></div>
  <div  [@narrowing]="showAnimation" class="narrowing" ></div>
</div>

<ngb-carousel *ngIf="isHandset" #carousel interval="false" >
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px; display: flex; flex-direction: column; align-items: center;" >
      <div class="bottomSubMenu" style="justify-content: center">
        <div>
          <div style="font-size: 15px; margin-top: 29px;" class="headerSubMenuBottomText " >
            <div ><b>If you wish to create a Live Pulse, please email <a style="text-decoration: underline;" href="mailto:info@truepulse.net">support@truepulse.net </a></b></div>
          </div>
        </div>
      </div>
      <img class="imageShadow" style="width: 262px; margin-top: 58px;" src="../../../../assets/images/Live_Pulse_1.jpeg" >
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px" >
      <div >
        <div class="headerSubMenu" [ngClass]="{mobileHeaderSubMenu:isHandset}" >Select a Live Event</div>
      </div>
      <img class="imageShadow" style="width: 262px; margin-top: 128px;" src="./../../../assets/images/Live_Pulse_1.jpeg" >

    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div style="text-align: center; margin: 10px; display: flex; flex-direction: column; align-items: center;" >
      <div class="bottomSubMenu" style="justify-content: center">
        <div>
          <div style="font-size: 15px; margin-top: -15px;" class="headerSubMenuBottomText " >
            <div >At the scheduled time and as the event is about to start, come back to the Live Pulse listing page and select the specific Live Pulse. This will take you to the Live Pulse participation page.</div>
          </div>
        </div>
      </div>
      <img class="imageShadow" style="width: 262px; margin-top: 58px;" src="../../../../assets/images/Live_Pulse_1.jpeg" >
    </div>
  </ng-template>
</ngb-carousel>
