
    <div style="margin: 40px;">
      <h2 style="text-transform: uppercase;color: #0070c0; margin-bottom: 30px;">COMING SOON!</h2>
      <p>
        The days of employee engagement surveys or 360 degree reviews no longer make sense in a world that moves and pivots so fast.
      </p>
      <ul>
        <li>Employee motivations are continuously evolving.</li>
        <li>The war for talent is greater than ever. </li>
        <li>Talent retention is tougher than ever.</li>
      </ul>
      <p>
        The <span style="text-decoration: underline;">True Pulse Corporate Program</span> allows you to stay in touch with your employees in real-time. More importantly, it allows your employees to proactively express thoughts and opinions in real-time.
      </p>
      <p>
        With <span style="text-decoration: underline;">True Pulse for Corporate,</span> you can seek to understand in real-time how your employees feel about the latest Group strategy.
      </p>
      <p>You can ask and answer questions such as :</p>
      <ul>
        <li>Why does my investment team in Europe have a such a bleak outlook?</li>
        <li>Why does my development team in Asia have such low engagement and sentiment this week, when they were so upbeat last week?</li>
        <li>How will that impact the quality of my deliverables to our key customers?</li>
      </ul>
      <h5>User Accounts</h5>
      <p>
        Corporate user accounts are separate to personal accounts. An employee can have both a Pulse personal account and a Pulse corporate account. The registration process and user profile settings includes additional identifying fields for corporate employee accounts.
      </p>
      <p>
        Once a corporate entity has signed up for a subscription, the email domain is activated. Any user using that domain as their email address in the signup process is automatically identified as a corporate user. The user profile will present additional data fields for completion.
      </p>
    </div>

