.marginUpDesktop {
  margin-top: 31px;
}

.rounded-corners-rect {
  width: 270px;
  border-radius: 20px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}

.badge-row-spacing {
  margin-bottom: 20px;
}

.text-badge {
  color: white;
  font-style: italic;
}

.text-language-of-pulse {
  font-size: 18px;
  //font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
