.marginUpDesktop {
  margin-top: 31px;
}

.rounded-corners-rect {
  width: 270px;
  border-radius: 20px;
  height: 40px;
}

.color-blue {
  background-color: #0096FF;
}

.color-yellow {
  background-color: #FF9933;
}

.color-green {
  background-color: #92D050;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.badge-row-spacing {
  margin-bottom: 20px;
}

.text-badge {
  color: white;
  font-style: italic;
}

.text-language-of-pulse {
  font-size: 25px;
  font-family: 'Roboto';
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
