<div class="text-language-of-pulse" [ngClass]="{'marginUpDesktop': !isHandset}">
  <div class="row">
    <div class="col-xl-8 text-center">
      <p>A Pulse is posing a QUESTION</p>
      <p>A BEAT is answering a PULSE</p>
      <p>It's EASY!</p>
      <p>It's Powerful!</p>
      <p>It's Fun!</p>
    </div>
  </div>
  <div class="row justify-content-start badge-row-spacing">
    <div class="col-xl-6" [ngClass]="{
    'flex-end': !isHandset,
    'flex-center': isHandset
  }">
      <div>Interested in <span class="font-weight-bold">getting</span> opinions?</div>
    </div>
    <div class="col-xl-5" [ngClass]="{
    'flex-start': !isHandset,
    'flex-center': isHandset
  }">
      <a href="/menu/creatingPulse#bottom" class="rounded-corners-rect color-blue flex-center">
        <div class="text-badge">Create a <span class="font-weight-bold"> Pulse</span></div>
      </a>
    </div>
  </div>
  <div class="row justify-content-start badge-row-spacing">
    <div class="col-xl-6" [ngClass]="{
    'flex-end': !isHandset,
    'flex-center': isHandset
  }">
      <div>Interested in <span class="font-weight-bold"> giving</span> opinions?</div>
    </div>
    <div class="col-xl-5" [ngClass]="{
    'flex-start': !isHandset,
    'flex-center': isHandset
  }">
      <a href="/menu/respondingToPulseWithBeat#bottom" class="rounded-corners-rect color-yellow flex-center">
        <div class="text-badge">Respond with a <span class="font-weight-bold"> Beat</span></div>
      </a>
    </div>
  </div>
  <div class="row justify-content-start badge-row-spacing">
    <div class="col-xl-6" [ngClass]="{
    'flex-end': !isHandset,
    'flex-center': isHandset
  }">
      <div>Interested in <span class="font-weight-bold"> understanding</span> opinions?</div>
    </div>
    <div class="col-xl-5" [ngClass]="{
    'flex-start': !isHandset,
    'flex-center': isHandset
  }">
      <a href="/menu/dataAndInsightsFromPulses#bottom"  class="rounded-corners-rect color-green flex-center">
        <div class="text-badge">Look at an <span class="font-weight-bold"> Insight</span></div>
      </a>
    </div>
  </div>
</div>
