.sidenav-container {
   height: 100%;
   margin-top: -4px;
 }

.sidenav {
  width: 532px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// custom style
mat-sidenav {
  position:absolute;
  background-color: #FFFFFF;
  border-right: 5px solid #7F7F7F;
}

::ng-deep .mat-list-item-content {
  color: #0563C1 !important;
  text-decoration: underline;
  font-weight: 500;
}

::ng-deep .mat-list-item-content {
  &.active{
    font-weight: bolder;
    font-size: 18px;
   }
}

::ng-deep .desktopStyle {
  margin-left: 20px;
  margin-top: 20px;
}

