<!--<a id="bottom"></a>-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" position="end">
<!--    [opened]="(isHandset) === false"-->
<!--    [mode]="(isHandset) ? 'over' : 'side'"-->
    <div #matnavlist>
    <mat-nav-list  [ngClass]="{desktopStyle:!isHandset}" >
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="languageOfPulse" >The Language of Pulse</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="creatingPulse" >Creating a Pulse</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="respondingToPulseWithBeat">Responding to a Pulse with a Beat</a>
      <a mat-list-item class="link"
         (click)="(isHandset) && drawer.close()"
         routerLink="enjoyingLivePulse">Enjoying a Live Pulse</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="pulseForCorporates">Pulse for Corporates</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="managingYourAccount">Managing Your Account</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="findingYourWayAroundPulseApp">Finding Your Way Around the Pulse App</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="dataAndInsightsFromPulses">Data and Insights from Pulses</a>
      <a mat-list-item
         (click)="(isHandset) && drawer.close()"
         routerLink="privacySettings">Your Privacy and Safety</a>
      <a mat-list-item
         class="link"
         (click)="(isHandset) && drawer.close()"
         routerLink="privacyPolicy">Privacy Policy</a>
      <a mat-list-item
         class="link"
         (click)="(isHandset) && drawer.close()"
         routerLink="termOfUse">Terms of Use</a>
    </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
     <div class="banner--home" [ngClass]="isHandset ? 'banner-image--home--mobile' : 'banner-image--home'" *ngIf="isHome">
       <div style="height:100%; width: 55%; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
         <a (click)="navigate('/menu/home')">
           <img style="height: 60px;" src="assets/images/TruePulseLogo-WHITE.png" />
         </a>
         <div class="text-white text-center" style="height:100%;  width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
           <span>
            Is your opinion informed, a guess or your<br/>
            gut?<br/>
            You will be either lucky or wrong.
           </span>
         </div>
       </div>
       <div style="display: flex; flex-direction: column; align-items: flex-end; justify-content: flex-start;">
         <button
           type="button"
           mat-icon-button
           (click)="drawer.toggle()">
           <!--        *ngIf="isHandset"-->
           <mat-icon class="white-icon">menu</mat-icon>
         </button>
         <a href='https://play.google.com/store/apps/details?id=net.truepulse.mobileapp&hl=en_US&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
           <img style="height: 59px;"
                alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
         </a>
         <a href="https://apps.apple.com/us/app/true-pulse/id1459877391?mt=8"
            style="width:135px;height:40px;margin-right:8px;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-09-26&kind=iossoftware&bubble=apple_music) no-repeat;"></a>
       </div>
     </div>
     <div class="banner--default banner-image--default" *ngIf="!isHome">
       <a (click)="navigate('/menu/home')">
         <img style="height: 60px;" src="assets/images/TruePulseLogo-WHITE.png" />
       </a>
       <button
         type="button"
         mat-icon-button
         (click)="drawer.toggle()">
         <!--        *ngIf="isHandset"-->
         <mat-icon class="white-icon">menu</mat-icon>
       </button>
     </div>
     <div>
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
