.sidenav-container {
  min-height: 550px;
  background-color: white;
 }

.sidenav {
  width: 332px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// custom style
mat-sidenav {
  position:absolute;
  background-color: #F2F2F2;
  border-right: 5px solid #7F7F7F;
}

::ng-deep .mat-list-item-content {
  text-decoration: underline;
  color: #0096FF !important;
  //letter-spacing: 1.0px;
  //font-size: 18px;
}

::ng-deep .mat-list-item-content {
  &.active{
    font-weight: bolder;
    //font-size: 19px;
    //letter-spacing: 0.6px;
   }
}

::ng-deep .desktopStyle {
  //margin-left: 50px;
  //margin-top: 50px;
}

/* new */

.white-icon {
  color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
  fill: white;
}

.banner--default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.banner--home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 20px 20px;
}

.banner-image--default {
  background-image: url('../../../assets/images/banner_image.jpg');
  background-position-y: -50px;
  height: 100px;
}

.banner-image--home {
  background-image: url('../../../assets/images/banner_image_home.jpg');
  height: 500px;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: 35% 0%;
}

.banner-image--home--mobile {
  background-image: url('../../../assets/images/banner-image-home-mobile.jpg');
  height: 812px;
  background-size:     cover;
  background-repeat:   no-repeat;
  //background-position: center center;
  background-position: 100% 0%;
}




