.sidenav-container {
  min-height: 550px;
  background-color: white;
 }

.sidenav {
  width: 332px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// custom style
mat-sidenav {
  position:absolute;
  background-color: #F2F2F2;
  border-right: 5px solid #7F7F7F;
}

::ng-deep .mat-list-item-content {
  text-decoration: underline;
  color: #0096FF !important;
  //letter-spacing: 1.0px;
  //font-size: 18px;
}

::ng-deep .mat-list-item-content {
  &.active{
    font-weight: bolder;
    //font-size: 19px;
    //letter-spacing: 0.6px;
   }
}

::ng-deep .desktopStyle {
  //margin-left: 50px;
  //margin-top: 50px;
}

