<div class="container-fluid">
  <div class="row">
    <div class="offset-xl-1 col-xl-3 desktopBottomImageContainer">
      <div (click)="navigate('/menu/creatingPulse')" class="desktopBottomImage">
        <div class="desktopBottomImageTopText">You want to be heard!</div>
        <div class="desktopBottomImageBottomText">Create a Pulse</div>
        <img class="desktopTopImageFace" src="assets/images/face5a_circle.png"/>
        <div class="desktopBottomImageLearnMore">Learn more...</div>
      </div>
    </div>
    <div class="col-xl-3 desktopBottomImageContainer">
      <div (click)="navigate('/menu/respondingToPulseWithBeat')" class="desktopBottomImage">
        <div class="desktopBottomImageTopText">You want your opinion to <br> count!</div>
        <div class="desktopBottomImageBottomText">Respond with a Beat</div>
        <img class="desktopTopImageFace" src="assets/images/face4a_circle.png"/>
        <div class="desktopBottomImageLearnMore">Learn more...</div>
      </div>
    </div>
    <div class="col-xl-3 desktopBottomImageContainer">
      <div (click)="navigate('/menu/dataAndInsightsFromPulses')" class="desktopBottomImage">
        <div class="desktopBottomImageTopText">You want to make a <br> Difference</div>
        <div class="desktopBottomImageBottomText">Look at an Insight</div>
        <img class="desktopTopImageFace" src="assets/images/face7a_circle.png"/>
        <div class="desktopBottomImageLearnMore">Learn more...</div>
      </div>
    </div>
  </div>
</div>
