<!--<div *ngIf="!isHandset" class="flex">-->
<!--  <div [@extended]="showAnimation" class="extended" ></div>-->
<!--  <div  [@narrowing]="showAnimation" class="narrowing" ></div>-->
<!--</div>-->

<div class="content-container">
  <p class="text-center">From the <b> Home, Trending, My Pulse </b> screens, you can tap on any Pulse topic.</p>
  <p class="text-center">Then tap the  <img style="width: 25px" src="assets/images/beat_create.png"/>Beat symbol to respond to a Pulse.</p>
  <img  class="content-image" src="assets/images/Beat_create_1.jpeg" />
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <img class="content-image" src="assets/images/Beat_create_2.jpeg" />
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <h5 class="blue-text" style="padding-top: 40px;">What is important to you?</h5>
  <div style="position: relative;">
    <img class="content-image" src="assets/images/Beat_create_3.jpeg">
    <div class="tooltip--desktop" style="top: 280px;left: 20px;width: 253px;">For the best results, your qualities should be either all positive traits or all negative traits. For example, if you are ranking attributes against political candidates, it would be clearer to have attributes such as [Trust, Competency, Integrity] as opposed to a mix of attributes such as [Trustworthy, Immoral, Competency, Sexist].</div>
  </div>
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <h5 class="blue-text" style="padding-top: 40px;">How important is it to you?</h5>
  <img class="content-image" src="assets/images/Beat_create_4.jpeg">
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <h5 class="blue-text text-center" style="padding-top: 40px;">Rank the choices against attributes… and <span style="text-decoration: underline">publish</span></h5>
  <img class="content-image" src="assets/images/Beat_create_5.jpeg">
  <img class="arrow-down" src="assets/images/arrow-down.PNG" />
  <img class="content-image" src="assets/images/Beat_create_6.jpeg">
</div>
