<div *ngIf="!isHandset">
  <ngb-carousel class="subMenuContext" #carousel interval="false" style="margin-top: 0px !important;">
    <ng-template ngbSlide>
      <div style="margin:40px; width: 70%;">
        <h1>Privacy Settings</h1>
        <h2>Comments Visible to All</h2>
        <p>Your comments posted in a 'standard' Pulse or Live Pulse will be visible to all users. The default setting will be set to “on”</p>
        <h2>Comments Visible to Pulse Publisher Only</h2>
        <p>
          Your comments posted in a 'standard' Pulse or Live Pulse will be visible to the Pulse Publisher only. The default setting will be “off”.
        </p>
        <h2>Blocked Users</h2>
        <p>
          The optionality to block comments from particular users, both in responses to Pulses they create, and Pulses they participate in.
          <br/>You add ‘blocked users’ by user_name.
        </p>
        <h1>Notifications</h1>
        <h2>Hot Pulse of the Day</h2>
        <p>
          Notification alerts for "hot pulse of the day“. Noting that “Today’s Hot Pulse” is a way for Publishers to push a particular topic to the surface to create more visibility across the True Pulse community.
        </p>
        <h2>Email Notification Alerts</h2>
        <p>
          Noting that email address capture is mandatory during the registration process.
        </p>
        <h2>Email Notification Frequency</h2>
        <p>The options are daily or weekly or none.</p>
        <h2>Pulse Close Alert</h2>
        <p>
          As a Publisher of the Pulse, you will receive a notification via email and/or in-app notification, once the Pulse has reached its duration limit.
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div style="margin:40px;">
        <h1>Pulse Publication Push Alerts</h1>
        <p>
          Push notifications can be purchased by a Pulse publisher; e.g. push my Pulse topic to all Users that have opted in to be notified for Political Pulses in California. Push notification sent by employer (corporate org) to all employees registered with Pulse.
        </p>
        <p>
          Note : Notifications will be sent via email or in-app alert.
        </p>
        <h1>Threshold for Beats</h1>
        <p>
          As a Pulse publisher, you can set threshold alerts for Beats. As the number of Beats increase, you can decide how frequently you get notified, for example every 10,000 Beats. The default setting is notifications sent for every increment of 1000 Beats. This allow you as the Publisher to control the duration of the Pulse, if you feel satisfied with the breadth of data and insights you have collected.
        </p>
        <h1>Alerts for Keywords</h1>
        <p>
          You can add key words that are of current interest to you. Any Pulse Topic that has that word or words will trigger an alert back to you.
        </p>
        <h1>Topic Preferences</h1>
        <p>
          Pulse has a range of topic categories. The default setting is enabled for all Pulse topic categories. These topic notification settings will influence your feed in the Home page.
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
  <img *ngIf="showNextScreen" class="image-carousel-next"
       (click)="carouselNext()"
       src="./../../../assets/images/arrow-right.PNG" >
</div>
<div *ngIf="isHandset">
  <div style="margin:20px;">
    <h1>Privacy Settings</h1>
    <h2>Comments Visible to All</h2>
    <p>Your comments posted in a 'standard' Pulse or Live Pulse will be visible to all users. The default setting will be set to “on”</p>
    <h2>Comments Visible to Pulse Publisher Only</h2>
    <p>
      Your comments posted in a 'standard' Pulse or Live Pulse will be visible to the Pulse Publisher only. The default setting will be “off”.
    </p>
    <h2>Blocked Users</h2>
    <p>
      The optionality to block comments from particular users, both in responses to Pulses they create, and Pulses they participate in.
      <br/>You add ‘blocked users’ by user_name.
    </p>
    <h1>Notifications</h1>
    <h2>Hot Pulse of the Day</h2>
    <p>
      Notification alerts for "hot pulse of the day“. Noting that “Today’s Hot Pulse” is a way for Publishers to push a particular topic to the surface to create more visibility across the True Pulse community.
    </p>
    <h2>Email Notification Alerts</h2>
    <p>
      Noting that email address capture is mandatory during the registration process.
    </p>
    <h2>Email Notification Frequency</h2>
    <p>The options are daily or weekly or none.</p>
    <h2>Pulse Close Alert</h2>
    <p>
      As a Publisher of the Pulse, you will receive a notification via email and/or in-app notification, once the Pulse has reached its duration limit.
    </p>
    <h1>Pulse Publication Push Alerts</h1>
    <p>
      Push notifications can be purchased by a Pulse publisher; e.g. push my Pulse topic to all Users that have opted in to be notified for Political Pulses in California. Push notification sent by employer (corporate org) to all employees registered with Pulse.
    </p>
    <p>
      Note : Notifications will be sent via email or in-app alert.
    </p>
    <h1>Threshold for Beats</h1>
    <p>
      As a Pulse publisher, you can set threshold alerts for Beats. As the number of Beats increase, you can decide how frequently you get notified, for example every 10,000 Beats. The default setting is notifications sent for every increment of 1000 Beats. This allow you as the Publisher to control the duration of the Pulse, if you feel satisfied with the breadth of data and insights you have collected.
    </p>
    <h1>Alerts for Keywords</h1>
    <p>
      You can add key words that are of current interest to you. Any Pulse Topic that has that word or words will trigger an alert back to you.
    </p>
    <h1>Topic Preferences</h1>
    <p>
      Pulse has a range of topic categories. The default setting is enabled for all Pulse topic categories. These topic notification settings will influence your feed in the Home page.
    </p>
  </div>
</div>

