/* You can add global styles to this file, and also import other style files */
//@import "assets/scss/default/reset";

html, body {
  height: 100%;
  width: 100%;
}
body { margin: 0; }

.extended{
  opacity: 0;
  width: 0;
  height: 100%;
}

.narrowing {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.flex {
  z-index: 75;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: transparent;
  display: flex;
}

.image-internal {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 300px
}

.image-carousel-next {
  position: absolute;
  top: 34%;
  right: 37px;
  z-index: 100;
  height: 70px;
}

.image-carousel-previous {
  position: absolute;
  left: 20px;
  top: 34%;
  z-index: 100;
  height: 70px;
}

.headerSubMenu {
  color: #0070c0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.blue-text {
  color: #0070c0;
}

.mobileHeaderSubMenu {
  font-size: 25px !important;
  margin-top: -14px;
}

.subMenuContext {
  display: inline-block !important;
  margin-top: 18px;
}

.headerSubMenuBottomText{
  margin-top: 60px;
  font-size: 14px;
}

.slide-image--large {
  width: 220px;
}

.slide-image--small {
  width: 290px;
}

.imageShadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin: 15px;
}

.bottomSubMenu{
  display: flex;
  //margin-top: 20px;
}

.arrowRightSubMenu {
  height: 95px;
}

.redCircle{
  background-color: red;
  color: white;
  width: 256px;
  height: 133px;
  text-align: center;
  border-radius: 25px;
  display: flex;
  vertical-align: center;
  line-height: 24px;
}

.tooltip--desktop {
  position: absolute;
  font-size: 11px;
  padding: 10px;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 25px;
  display: flex;
  vertical-align: center;
}

.mobileStylePreviousArray{
left: 0 !important;
}

.carousel-control-prev {
display: none;
}

.carousel-control-next {
display: none;
}

.carousel-indicators {
display: none;
}

.content-up-effect {
z-index: 100;
position: absolute;
}

.mobileStyle {
width: 11%;
margin-right: -37px;
}

.arrowRightBold {
height: 70px;
}

.menu-content-margin--mobile {
  margin-left: 40px;
  margin-right: 40px;
}

h5 {
  color: #0070c0;
}

.color-blue {
  background-color: #0096FF;
}

.color-yellow {
  background-color: #FF9933;
}

.color-green {
  background-color: #92D050;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gothic-font {
  // font-family:'Century Gothic','Futura','Didact Gothic',san-serif;
}

//.row.row-grid [class*="col-"] + [class*="col-"] {
//  margin-top: 15px;
//}
//
//@media (min-width: 1200px) {
//  .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
//    margin-top: 0;
//  }
//}
//@media (min-width: 992px) {
//  .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
//    margin-top: 0;
//  }
//}
//@media (min-width: 768px) {
//  .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
//    margin-top: 0;
//  }
//}

[class*="col-"] {
  margin-bottom: 15px;
}

.content-container {
  //font-size: 18px;
  //font-family: 'Roboto';
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.content-image {
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin: 15px;
}

.arrow-down {
  width: 80px;
  height: 50px;
  margin: 10px 0 10px 0;
}

