<div class="content-container text-center" style="padding-top: 0; padding-bottom: 0;">
  <div class="text-white" style="padding: 10px;background-color: deepskyblue">
    <h5 class="text-white">When was the last time you were part of a survey or opinion poll?</h5>
    <h5 class="text-white">Chances are never!</h5>
    <h6>Even if you were, who determined these questions?</h6>
    <h6>Who determined the methodology?</h6>
    <p>Current polling and survey methods are grappling with a fragmented landscape of landlines, mobiles, multiple social media platforms and sub-cultures, making it more difficult to survey a representative cross-section of society and to then extrapolate such conclusions across a much larger national or even international population. Pollsters seem to get it wrong when it matters.</p>
  </div>
  <div class="text-white" style="padding: 10px;background-color: seagreen;">
    <p>The world is suffering from binary opinions being offered as the only choices. In reality, decisions, opinions, perspectives and commentaries are much more nuanced than this. At True Pulse, we recognized that it is not a ‘black & white” world, but rather a spectrum of shades between these extremes.</p>
    <h3 style="text-decoration: underline;">OUR PHILOSOPHY</h3>
    <h5 class="text-white">Our philosophy is anchored around the following:</h5>
    <ul>
      <li>Anyone can create a Pulse</li>
      <li>Anyone can respond to any Pulse</li>
      <li>Anyone can have access to the insights</li>
    </ul>
  </div>
  <div style="padding: 10px;background-color: whitesmoke;">
    <p>Polls are financed – either to gain helpful information or to advance a particular cause.
      Opinion Polls, focus groups, market research remains the purview of a few dominant organizations.
      User do feel marginalized because they were not included in an opinion poll or left out of a brand experience or didn’t agree with the types of questions in an employee engagement survey.
    </p>
    <p>At True Pulse, we believe our platform helps us get to <span style="font-size: 25px; font-style: italic; font-weight: bold;">what the world really thinks.</span></p>
  </div>
  <div class="text-white" style="padding: 10px 10px 0 10px;background-color: orange;">
    <h4 class="text-white" style="text-decoration: underline;">What the World <span style="font-style: italic">‘really’</span> thinks</h4>
    <p>Aside from the obvious benefits for extracting opinions in more quantitative fields such as product development, we were excited about bringing a “why” and “how” to those emotionally charged topics such as the GOAT (Greatest Of All Time) discussions.</p>
    <p>It becomes readily apparent that when you move from a “yes” or “no” question or discussion to asking “what/who”, “why”, and “how”, this prompts a greater deal of thought.
    </p>
    <p>At True Pulse, we believe that this democratization of information truly helps us get to <span style="font-size: 20px; font-style: italic; font-weight: bold;">what the world really thinks.</span></p>
  </div>
</div>
