<h1>True Pulse, LLC, TERMS AND CONDITIONS OF USE<h1>

  <h1>1. &nbsp;&nbsp; INTRODUCTION</h1>

  <p>For purposes of this Agreement:</p>

  <ul>
    <li>"Company" refers to True Pulse, LLC</li>
    <li>"Pulse" refers to True Pulse, LLC</li>
    <li>"Service" refers to the Company's services including our websites, mobile applications, SMS, APIs, email notifications, commerce services, applications and widgets.</li>
    <li>"Site" refers to the Company's website, which can be accessed at www.truePulse.net or through our mobile application, in which users can vote on subjects of interest, create surveys to determine attitudes, see what subjects are trending and see responses in real-time or aggregated data summaries depending on subscription privileges.</li>
    <li>The terms "we," "us," and "our" refer to the Company.</li>
    <li>"You" refers to you, as a user of our Site or our Service.</li>
  </ul>

  <p>By accessing our Site or our Service, you accept our Terms of Use and Privacy Policy (found here: <a href="http://www.truepulse.net/legal/privacypolicy/">Privacy Policy</a>), and you consent to our collection, storage, use and disclosure of your Personal Information as described in this Privacy Policy.</p>

  <ol>
    <li>These terms and conditions shall govern your use of our website.</li>
    <li>By using our Services, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.</li>
    <li>If you register with our website or app, submit any material to our website or app or use any of our Services, we will ask you to expressly agree to these terms and conditions.</li>
    <li>You must be at least 13 years of age (or older in some countries) to use our Services; by using our Services or agreeing to these terms and conditions, you warrant and represent to us that you are at least 13 years of age. If you're based in the EEA, you may only use Pulse if you are over the age at which you can provide consent to data processing under the laws of your country.</li>
    <li>If you do open an account for a company, organization, or other entity, then "you" includes you and that entity, and you agree that you are authorized to bind the entity to these Terms, and that you agree to these Terms on the entity's behalf.</li>
    <li>Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our privacy and cookies policy.</li>
  </ol>

  <h1>2. &nbsp;&nbsp COPYRIGHT NOTICE</h1>

  <ol>
    <li>Copyright (c) 2019 True Pulse, LLC.</li>
    <li>Subject to the express provisions of these terms and conditions:</li>
    <ol class="roman-list-style">
      <li>we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and applications and the material on our website and apps; and</li>
      <li>all the copyright and other intellectual property rights in our website and the material on our website are reserved.</li>
    </ol>
  </ol>

  <h1>3. &nbsp;&nbsp; LICENCE TO USE SERVICES</h1>

  <ol>
    <li>You may:</li>
    <ol class="roman-list-style">
      <li>view pages from our website in a web browser;</li>
      <li>download pages from our website for caching in a web browser;</li>
      <li>print pages from our website;</li>
      <li>stream audio and video files from our website; and</li>
      <li>use our Services by means of a web browser or the Pulse mobile app,</li>
    </ol>
    subject to the other provisions of these terms and conditions.<br>
    <li>You may only use our website for your own personal and business purposes, and you must not use our website for any other purposes.</li>
    <li>Unless you own or control the relevant rights in the material, you must not:</li>
    <ul>
      <li>Without our prior written consent, republish material from our website (including republication on another website);</li>
      <li>sell, rent or sub-license material from our website;</li>
      <li>Without our prior written consent, show any material from our website in public;</li>
      <li>Without our prior written consent, exploit material from our website for a commercial purpose; or</li>
      <li>Without our prior written consent, redistribute material from our website.</li>
    </ul>
    <li>Notwithstanding Section 3.c, you may with our prior written consent, redistribute the material from our website in print and electronic form to any person.</li>
    <li>We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.</li>
  </ol>

  <h1>4. &nbsp;&nbsp; ACCEPTABLE USE</h1>

  <ol>
    <li>You must not:</li>
    <ol class="roman-list-style">
      <li>use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the Pulse Service;</li>
      <li>use our Service in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;</li>
      <li>use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;</li>
      <li>conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our Service without our express written consent;</li>
      <li>access or otherwise interact with our Service using any robot, spider or other automated means, except for the purpose of search engine indexing;</li>
      <li>violate the directives set out in the robots.txt file for our website; or</li>
      <li>use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).</li>
    </ol>
    <li>You must not use data collected from our Service to contact individuals, companies or other persons or entities.</li>
    <li>You must ensure that all the information you supply to us through our Service, or in relation to our Service, is true, accurate, current, complete and non-misleading.</li>
  </ol>

  <h1>5. &nbsp;&nbsp; ACCOUNT REGISTRATION AND SECURITY</h1>

  <ol>
    <li>You may register for an account with our Service by completing and submitting the account registration form on our website or mobile app, and clicking on the verification link in the email that the website or app will send to you.</li>
    <li>You must not allow any other person to use your account to access the Service.</li>
    <li>You must not use any other person's account to access the Service, unless you have that person's express permission to do so.</li>
    <li>While we work to protect the security of your content and account, Pulse can't guarantee that unauthorized third parties won't be able to defeat our security measures. We ask that you keep your password secure.</li>
    <li>You must notify us in writing immediately if you become aware of any unauthorized use of your account.</li>
  </ol>

  <h1>6. &nbsp;&nbsp; USER LOGIN DETAILS</h1>

  <ol>
    <li>If you register for an account with our website, you will be asked to choose a user ID and password. You will be asked to provide your email address.</li>
    <li>Your user ID must not be liable to mislead and must comply with the content rules set out in Section 11; you must not use your account or user ID for or in connection with the impersonation of any person or entity. </li>
    <li>You must keep your password confidential.</li>
    <li>You must notify us in writing immediately if you become aware of any disclosure of your password.</li>
    <li>You are responsible for any activity on our Service or website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.</li>
  </ol>


  <h1>7. &nbsp;&nbsp; CANCELLATION AND SUSPENSION OF ACCOUNT</h1>

  <ol>
    <li>We may:</li>
    <ol class="roman-list-style">
      <li>suspend your account;</li>
      <li>cancel your account; and/or</li>
      <li>edit your account details,</li>
    </ol>
    at any time in our sole discretion without notice or explanation.<br>
    <li>You may cancel your account on our website using your account control panel on the website.</li>

  </ol>

  <h1>8. &nbsp;&nbsp; SOCIAL NETWORKING</h1>

  <ol>
    <li>You acknowledge that we cannot be held responsible for the behavior of our users, either on or off Pulse, and we cannot guarantee that any information provided by a user is true, accurate, complete, current and not misleading; and subject to Section 14.a you will not hold us liable in respect of any loss or damage arising out of any user behaviour or user information.</li>
    <li>You agree to the publication of posts relating to you, by others, on Pulse; you acknowledge that such posts may be critical or defamatory or otherwise unlawful; and, subject to Section 14.a, you agree that you will not hold us liable in respect of any such posts, irrespective of whether we are aware or ought to have been aware of such posts.</li>
  </ol>

  <h1>9. &nbsp;&nbsp; PERSONAL PROFILES</h1>

  <ol>
    <li>All information that you supply as part of a personal profile on the website or app must be true, accurate, current, complete and non-misleading.</li>
    <li>You agree to keep your personal profile on our website up to date.</li>
    <li>Personal profile information must also comply with the provisions of Section 4 and Section 11.</li>
  </ol>

  <h1>10. &nbsp;&nbsp; YOUR CONTENT: LICENCE</h1>

  <ol>
    <li>In these terms and conditions, "your content" means all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website.</li>
    <li>You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to reproduce, store and publish your content on and in relation to this website and any successor website. This license authorizes us to make your content available to other users and lets others do the same.</li>
    <li>You grant to us the right to sub-license the rights licensed under Section 10.b.</li>
    <li>You grant to us the right to bring an action for infringement of the rights licensed under Section 10.b.</li>
    <li>You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.</li>
    <li>You may edit your content to the extent permitted using the editing functionality made available on our website.</li>
    <li>Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.</li>
  </ol>

  <h1>11. &nbsp;&nbsp; YOUR CONTENT: RULES </h1>

  <ol>
    <li>You warrant and represent that your content will comply with these terms and conditions.</li>
    <li>Your content must not be illegal or unlawful, must not infringe any person's legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).</li>
    <li>Your content, and the use of your content by us in accordance with these terms and conditions, must not:</li>
    <ol class="roman-list-style">
      <li>be libelous or maliciously false;</li>
      <li>be obscene or indecent;</li>
      <li>infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;</li>
      <li>infringe any right of confidence, right of privacy or right under data protection legislation;</li>
      <li>constitute negligent advice or contain any negligent statement;</li>
      <li>constitute an incitement to commit a crime, instructions for the commission of a crime or the promotion of criminal activity;</li>
      <li>be in contempt of any court, or in breach of any court order;</li>
      <li>be in breach of racial or religious hatred or discrimination legislation;</li>
      <li>be blasphemous;</li>
      <li>be in breach of official secrets legislation;</li>
      <li>be in breach of any contractual obligation owed to any person;</li>
      <li>depict violence in an explicit, graphic or gratuitous manner;</li>
      <li>be pornographic, lewd, suggestive or sexually explicit;</li>
      <li>be untrue, false, inaccurate or misleading;</li>
      <li>consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage;</li>
      <li>constitute spam;</li>
      <li>be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory; or</li>
      <li>cause annoyance, inconvenience or needless anxiety to any person.</li>
    </ol>
    <li>Your content must be appropriate, civil and tasteful, and accord with generally accepted standards of etiquette and behaviour on the internet.</li>
    <li>You must not use our website to link to any website or web page consisting of or containing material that would, were it posted on our website, breach the provisions of these terms and conditions.</li>
    <li>You must not submit to our website any material that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</li>
  </ol>

  <h1>12. &nbsp;&nbsp; REPORT ABUSE</h1>

  <ol>
    <li>If you learn of any unlawful material or activity on our website, or any material or activity that breaches these terms and conditions, please let us know.</li>
    <li>You can let us know about any such material or activity by email, or compliance@truepulse.net  or using our feedback reporting form.</li>
  </ol>

  <h1>13. &nbsp;&nbsp; LIMITED WARRANTIES</h1>

  <ol>
    <li>We do not warrant or represent:</li>
    <ol class="roman-list-style">
      <li>the completeness or accuracy of the information published on our website;</li>
      <li>that the material on the website is up to date; or</li>
      <li>that the website or any service on the website will remain available.</li>
    </ol>
    <li>We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.</li>
    <li>To the maximum extent permitted by applicable law and subject to Section 14.a, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.</li>
  </ol>

  <h1>14. &nbsp;&nbsp;LIMITATIONS AND EXCLUSIONS OF LIABILITY </h1>
  <ol>
    <li>Nothing in these terms and conditions will:</li>
    <ol class="roman-list-style">
      <li>limit or exclude any liability for death or personal injury resulting from negligence;</li>
      <li>limit or exclude any liability for fraud or fraudulent misrepresentation;</li>
      <li>limit any liabilities in any way that is not permitted under applicable law; or</li>
      <li>exclude any liabilities that may not be excluded under applicable law.</li>
    </ol>
    <li>The limitations and exclusions of liability set out in this Section 15 and elsewhere in these terms and conditions: </li>
    <ol class="roman-list-style">
      <li>are subject to Section 15.1; and</li>
      <li>govern all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in these terms and conditions.</li>
    </ol>
    <li>To the extent that our website and the information and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.</li>
    <li>We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.</li>
    <li>We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.</li>
    <li>We will not be liable to you in respect of any loss or corruption of any data, database or software.</li>
    <li>We will not be liable to you in respect of any special, indirect or consequential loss or damage.</li>
    <li>You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).</li>
  </ol>

  <h1>15. &nbsp;&nbsp;INDEMNITY</h1>

  <ol>
    <li>You hereby indemnify us, and undertake to keep us indemnified, against any and all losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute) incurred or suffered by us and arising directly or indirectly out of your use of our website or any breach by you of any provision of these terms and conditions. </li>
  </ol>

  <h1>16. &nbsp;&nbsp;BREACHES OF THESE TERMS AND CONDITIONS</h1>

  <ol>
    <li>Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:
      <ol class="roman-list-style">
        <li>send you one or more formal warnings;</li>
        <li>temporarily suspend your access to our Service;</li>
        <li>permanently prohibit you from accessing our Service;</li>
        <li>block computers using your IP address from accessing our Service;</li>
        <li>contact any or all of your internet service providers and request that they block your access to our Service;</li>
        <li>commence legal action against you, whether for breach of contract or otherwise; and/or</li>
        <li>suspend or delete your account on our Service.</li>
      </ol>
    <li>Where we suspend or prohibit or block your access to our Service or a part of our Service, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).</li>
  </ol>


  <h1>17. &nbsp;&nbsp;THIRD PARTY WEBSITES</h1>
  <ol>
    <li>Our Service may include links to other websites owned and operated by third parties; such links are not recommendations.</li>
    <li>We have no control over third party websites and their contents, and subject to Section 14.a we accept no responsibility for them or for any loss or damage that may arise from your use of them.</li>
  </ol>

  <h1>18. &nbsp;&nbsp;TRADE MARKS</h1>
  <ol>
    <li>"True Pulse", "Pulse(s)", "Beat(s)" our logos and our other registered and unregistered trademarks are trademarks belonging to us; we give no permission for the use of these trademarks, and such use may constitute an infringement of our rights.</li>
    <li>The third party registered and unregistered trademarks or service marks on our website are the property of their respective owners and, unless stated otherwise in these terms and conditions, we do not endorse and are not affiliated with any of the holders of any such rights and as such we cannot grant any licence to exercise such rights.</li>
  </ol>

  <h1>19. &nbsp;&nbsp;VARIATION</h1>
  <ol>
    <li>We may revise these terms and conditions from time to time.</li>
    <li>We will give you written notice of any revision of these terms and conditions, and the revised terms and conditions will apply to the use of our Service from the date that we give you such notice; if you do not agree to the revised terms and conditions, you must stop using our Service.</li>
    <li>If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the Service, and you must stop using the Service.</li>
  </ol>

  <h1>20. &nbsp;&nbsp;ASSIGNMENT</h1>
  <ol>
    <li>You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions. </li>
    <li>You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions. </li>
  </ol>

  <h1>21. &nbsp;&nbsp;SEVERABILITY</h1>
  <ol>
    <li>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.</li>
    <li>If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. </li>
  </ol>

  <h1>22. &nbsp;&nbsp;THIRD PARTY RIGHTS</h1>
  <ol>
    <li>A contract under these terms and conditions is for our benefit and your benefit and is not intended to benefit or be enforceable by any third party.</li>
    <li>The exercise of the parties' rights under a contract under these terms and conditions is not subject to the consent of any third party.</li>
  </ol>

  <h1>23. &nbsp;&nbsp;ENTIRE AGREEMENT</h1>
  <ol>
    <li>Subject to Section 14.a, these terms and conditions, together with our privacy and cookies policy, shall constitute the entire agreement between you and us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.</li>
  </ol>

  <h1>24. &nbsp;&nbsp;LAW AND JURISDICTION</h1>
  <ol>
    <li>These terms and conditions shall be governed by the laws of the State of Delaware, USA without respect to its conflict of laws principles. If you are not a consumer in the EEA, the exclusive place of jurisdiction for all disputes arising from or in connection with this agreement is Delaware, or the United States District Court for the State of Delaware and our dispute will be determined under Delaware, USA law.</li>
    <li>If you are a consumer in the EEA, you have protection under the law of the country where you live and access to the courts in that country.</li>
  </ol>


  <h1>25. &nbsp;&nbsp;STATUTORY AND REGULATORY DISCLOSURES</h1>
  <ol>
    <li>Our registered office is at 10181 Bridgewater Court, St. Paul, MN 55129, USA.</li>
    <li>You can contact us:</li>
    <ol class="roman-list-style">
      <li>using our website contact form; or</li>
      <li>by email, using the email address published on our website from time to time.</li>
    </ol>
  </ol>
