<div class="content-container" style="padding: 10px; font-size: 14px;">
  <h5 class="blue-text">Interested in understanding opinions?...</h5>
  <h5 class="blue-text">Look at an Insight</h5>
  <p>From the Home, Trending and My Pulse screens, you can tap on any Pulse topic. This will navigate you to a detailed Pulse screen.</p>
  <h5 class="blue-tex h-spacingt">Tap on the ‘Insights’ icon</h5>
  <img  class="content-image" src="assets/images/Insights_1.jpeg" />
  <h5 class="blue-text">What were your choices?</h5>
  <img  class="content-image" src="assets/images/Insights_2.jpeg" />
  <h5 class="blue-text h-spacing">How strong were your preferences?</h5>
  <p>The weighted scores indicate the extent to which one Choice was preferred over another. For
    example, a Pulse might indicate that 51% of users preferred Choice A over Choice B. However
    the weighted scores might tell us that the 51% were absolute in their conviction with Choice
    A over Choice B.</p>
  <img  class="content-image" src="assets/images/Insights_3.jpeg" />
  <h5 class="blue-text h-spacing">What was important to you?</h5>
  <p>Each user will most likely have a different view of what attributes are important to them. This visual represents an average of all the user attributes.</p>
  <img  class="content-image" src="assets/images/Insights_4.jpeg" />
  <h5 class="blue-text h-spacing">Where did users participate in this Pulse</h5>
  <p>Each circle doubles as a traffic light (red, amber, green) indicating overall user sentiment in that area. The size of the circle represents the relative number of users. </p>
  <img  class="content-image" src="assets/images/Insights_5.png" />
  <h5 class="blue-text h-spacing">Strengths and weaknesses of the choices</h5>
  <p>Knowing how the Choices fared is obviously enlightening. Knowing their relative strengths and weaknesses based on User Beats is even more interesting. This chart shows the strongest attributes and the weakest attributes of the choices as voted by all participating users in the Pulse.</p>
  <img  class="content-image" src="assets/images/Insights_6.jpeg" />
</div>
