<div style="margin:40px;">
  <h1>True Pulse, LLC PRIVACY POLICY</h1>

  <p>Our mission is to help you discover your voice, share your opinions and understand the flavor of the world. To do that, we show you content we think you'll be interested in based on information we collect from you. To provide the Pulse products, we must process information about you. The types of information we collect depend on how you use our products. You can also find additional tools and information in the Pulse Help Centre and Pulse Settings. </p>

  <p>Our Privacy Policy ("Privacy Policy") is designed to help you understand how we collect, use and safeguard the information you provide to us and to assist you in making informed decisions when using our Service.</p>

  <p>For purposes of this Agreement,</p>

  <ul>
    <li>"Company" refers to True Pulse, LLC </li>
    <li>"Pulse" refers to True Pulse, LLC</li>
    <li>"Service" refers to the Company's services including our websites, mobile applications, SMS, APIs, email notifications, commerce services, applications and widgets.</li>
    <li>"Site" refers to the Company's website, which can be accessed at www.truePulse.net or through our mobile application, in which users can vote on subjects of interest, create surveys to determine attitudes, see what subjects are trending and see responses in real-time or aggregated data summaries depending on subscription privileges.</li>
    <li>The terms "we," "us," and "our" refer to the Company. </li>
    <li>"You" refers to you, as a user of our Site or our Service. </li>
  </ul>

  <p>
    By accessing our Site or our Service, you accept our Privacy Policy and Terms of Use (found here: <a href="http://www.truepulse.net/legal/termsofuse">Terms of Use</a>), and you consent to our collection, storage, use and disclosure of your Personal Information as described in this Privacy Policy.</p>

  <h1>1. &nbsp; &nbsp; INFORMATION WE COLLECT</h1>

  <p>We collect "Non-Personal Information" and "Personal Information." <strong>Non-Personal Information</strong> includes information that cannot be used to personally identify you, such as anonymous usage data, general demographic information we may collect, referring/exit pages and URLs, platform types, preferences you submit and preferences that are generated based on the data you submit and number of clicks. <strong>Personal Information</strong> includes your email, gender, marital status, sexual preferences, political preferences, religion, year of birth, country of residence, employment industry, which you submit to us through the registration process at the Site. However, we will not collect your name, nor your address, nor your date of birth and mobile number.</p>

  <h2>Information collected via Technology</h2>

  <p>To activate the Service you do not need to submit any Personal Information other than your email address. To use the Service thereafter, you do need to submit further Personal Information which includes gender, marital status, sexual preferences, political preferences, religion, year of birth, country of residence, employment industry.</p>

  <h2>Log Data</h2>

  <p>However, in an effort to improve the quality of the Service, we track information provided to us by your browser or by our software application when you view or use the Service, such as the website you came from (known as the "referring URL"), the type of browser you use, the device from which you connected to the Service, the time and date of access, and other information that does not personally identify you.</p>

  <h2>Cookie Data</h2>

  <p>We track this information using cookies, or small text files which include an anonymous unique identifier. Cookies are sent to a user's browser from our servers and are stored on the user's computer hard drive. Sending a cookie to a user's browser enables us to collect Non-Personal information about that user and keep a record of the user's preferences when utilizing our services, both on an individual and aggregate basis. </p>

  <p>For example, we use cookies to store your language preferences or other settings so you don't have to set them up every time you visit Pulse. Some of the cookies we use are associated with your Pulse account (including information about you, such as the email address you gave us) and other cookies are not.</p>

  <p>The Company may use both persistent and session cookies; persistent cookies remain on your computer after you close your session and until you delete them, while session cookies expire when you close your browser. For example, we store a persistent cookie to track language selection, theme selection, menu preferences.</p>

  <h2>Device Information</h2>

  <p>In addition to log and cookie data, we collect information about the device you're using Pulse on. For example, we use information collected about your use of our products on your phone to better manage the overall security of the platform.</p>

  <p>Information we obtain from these devices includes:</p>

  <ul>
    <li><strong>Device attributes:</strong> information such as the operating system, hardware and software versions and browser type.</li>
    <li><strong>Device operations:</strong> information behaviors performed on the device, such as mouse movements (which can help distinguish humans from bots).</li>
    <li><strong>Identifiers:</strong> unique identifiers, device IDs and other identifiers, such as from games, apps or accounts you use.</li>
    <li><strong>Device signals:</strong> Bluetooth signals, and information about nearby Wi-Fi access points, beacons, and cell towers.</li>
    <li><strong>Data from device settings:</strong> information you allow us to receive through device settings you turn on, such as access to your GPS location, camera or photos.</li>
  </ul>

  <h2>Information you provide us by registering for an account</h2>

  <p>In addition to the information provided automatically by your browser when you visit the Site, to become a subscriber to the Service you will need to create a personal profile. You can create a profile by registering with the Service and entering your email address, and creating a user name and a password. By registering, you are authorizing us to collect, store and use your email address in accordance with this Privacy Policy.</p>

  <h2>Children's Privacy</h2>

  <p>The Site and the Service are not directed to anyone under the age of 13. The Site does not knowingly collect or solicit information from anyone under the age of 13, or allow anyone under the age of 13 to sign up for the Service. In the event that we learn that we have gathered personal information from anyone under the age of 13 without the consent of a parent or guardian, we will delete that information as soon as possible. If you believe we have collected such information, please contact us at compliance@TruePulse.net.</p>

  <h1>2. &nbsp; &nbsp; HOW WE USE AND SHARE INFORMATION</h1>

  <h2>Personal Information:</h2>

  <p>Except as otherwise stated in this Privacy Policy, we do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent. We do share Personal Information with vendors who are performing services for the Company, such as the servers for our email communications who are provided access to user's email address for purposes of sending emails from us. Those vendors use your Personal Information only at our direction and in accordance with our Privacy Policy.</p>

  <p>In general, the Personal Information you provide to us is used to help us communicate with you. For example, we use Personal Information to contact users in response to questions, solicit feedback from users, provide technical support, and inform users about promotional offers.</p>

  <h2>Non-Personal Information</h2>

  <p>In general, we use Non-Personal Information to help us improve the Service and customize the user experience. We also aggregate Non-Personal Information in order to track trends and analyze use patterns on the Site. This Privacy Policy does not limit in any way our use or disclosure of Non-Personal Information and we reserve the right to use and disclose such Non-Personal Information to our partners, advertisers and other third parties at our discretion.</p>

  <p>In the event we undergo a business transaction such as a merger, acquisition by another company, or sale of all or a portion of our assets, your Personal Information may be among the assets transferred. You acknowledge and consent that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of our assets may continue to process your Personal Information as set forth in this Privacy Policy. If our information practices change at any time in the future, we will post the policy changes to the Site so that you may opt out of the new information practices. We suggest that you check the Site periodically if you are concerned about how your information is used.</p>

  <h2>Sharing Your Information</h2>

  <p>We use your Personal Information (marital status, sexual preferences, political preferences, religion, year of birth, country of residence, employment industry, location) to conduct analytics on opinions and sentiment. We will make this information available in an aggregated manner on our website for subscribers to view visualization charts of the data related to individual Pulse topics.</p>

  <h2>Partners who use our analytics services.</h2>

  <p>We provide aggregated statistics, aggregate demographic and other insights that help people and businesses understand how users are engaging with Pulse topics and other content on and off the Pulse platform. For example, market research or political organizations receive information about the number of people or accounts who viewed, responded to, or commented on their Pulse topics.</p>

  <p>We may share Pulse topics and the underlying data, in the form of data extract files with subscribing users. We will not share or disclose any information that personally identifies you. This includes your name, address, date of birth or mobile number, as we do not collect this information from you. We will not share your email address.</p>

  <p>We may share Personal Information with outside parties if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to meet any applicable legal process or enforceable governmental request; to enforce applicable Terms of Service, including investigation of potential violations; address fraud, security or technical concerns; or to protect against harm to the rights, property, or safety of our users or the public as required or permitted by law.</p>

  <p>In addition to the specific circumstances above, we'll only use your information with your consent in order to:</p>

  <ul>
    <li>Identify your location and customize the content we show you. For example, if we know that you are based in London, we could show you Pulse topics in your Home page feed that local to your region. You can opt in to this in your device operating system settings.</li>
  </ul>

  <p>Public information can be seen by anyone. This includes your username; any information you share with a public audience such as Pulse topics you create; and content, such as comments you post. Public information can also be seen, accessed, reshared or downloaded through third-party services such as search engines, APIs, and offline media such as TV, and by apps, websites and other services that integrate with our Products.</p>

  <h2>Transferring Your Information</h2>

  <p>Pulse is a worldwide service. By using our products or services, you authorize us to transfer and store your information outside your home country, including in the United States, for the purposes described in this policy. The privacy protections and the rights of authorities to access your personal information in such countries may not be equivalent to those of your home country</p>

  <h1>3. &nbsp;&nbsp; HOW WE PROTECT INFORMATION</h1>

  <p>We implement security measures designed to protect your information from unauthorized access. Your account is protected by your account password and we urge you to take steps to keep your personal information safe by not disclosing your password and by logging out of your account after each use. We further protect your information from potential security breaches by implementing certain technological security measures including encryption, firewalls and secure socket layer technology. However, these measures do not guarantee that your information will not be accessed, disclosed, altered or destroyed by breach of such firewalls and secure server software. By using our Service, you acknowledge that you understand and agree to assume these risks.</p>

  <h1>4. &nbsp;&nbsp; YOUR RIGHTS REGARDING THE DELETION OF YOUR PERSONAL INFORMATION</h1>

  <p>We provide you with the ability to access and erase your data. You can also find additional tools and information in the Pulse Help Centre and Pulse Settings. When you delete your account, we delete Beats (your responses to Pulse topics), your comments and your replies to comments. You won't be able to recover that information later. If you don't want to delete your account but want to temporarily deactivate it, you can deactivate your account instead via Pulse Settings.</p>

  <p>To delete your account at any time, please visit the Pulse Settings. If you have problems updating the information associated with your account or if you would like us to delete it, contact us at compliance@truepulse.net. </p>

  <h1>5. &nbsp;&nbsp; YOUR RIGHTS REGARDING THE USE OF YOUR PERSONAL INFORMATION</h1>

  <p>You have the right at any time to prevent us from contacting you for marketing purposes. When we send a promotional communication to a user, the user can opt out of further promotional communications by following the unsubscribe instructions provided in each promotional e-mail. You can also indicate that you do not wish to receive marketing communications from us in the Pulse "Settings" section of the Site. Please note that notwithstanding the promotional preferences you indicate by either unsubscribing or opting out in the Settings of the Site, we may continue to send you administrative emails including, for example, periodic updates to our Privacy Policy.</p>

  <h1>6. &nbsp;&nbsp; LINKS TO OTHER WEBSITES</h1>

  <p>As part of the Service, we may provide links to or compatibility with other websites or applications. However, we are not responsible for the privacy practices employed by those websites or the information or content they contain. This Privacy Policy applies solely to information collected by us through the Site and the Service. Therefore, this Privacy Policy does not apply to your use of a third-party website accessed by selecting a link on our Site or via our Service. To the extent that you access or use the Service through or on another website or application, then the privacy policy of that other website or application will apply to your access or use of that site or application. We encourage our users to read the privacy statements of other websites before proceeding to use them.</p>

  <h1>7. &nbsp;&nbsp; CHANGES TO OUR PRIVACY POLICY</h1>

  <p>The Company reserves the right to change this policy and our Terms of Service at any time. We will notify you of significant changes to our Privacy Policy by sending a notice to the primary email address specified in your account or by placing a prominent notice on our site. Significant changes will go into effect 30 days following such notification. Non-material changes or clarifications will take effect immediately. You should periodically check the Site and this privacy page for updates.</p>

  <h1>8. &nbsp;&nbsp; CONTACT US</h1>

  <p>If you have any questions regarding this Privacy Policy or the practices of this Site, please contact us by sending an email to compliance@truepulse.net.</p>

  <p>Last Updated: This Privacy Policy was last updated on June 27, 2019.</p>
</div>


